pkgbase = google-chrome
	pkgdesc = A web browser by Google, stable)
	pkgver = 110.0.5481.177
	pkgrel = 1
	url = https://www.google.com/chrome
	install = google-chrome.install
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = ttf-liberation
	depends = xdg-utils
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: for file dialogs in KDE
	optdepends = gnome-keyring: for storing passwords in GNOME keyring
	optdepends = kwallet: for storing passwords in KWallet
	options = !emptydirs
	options = !strip
	source = https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_110.0.5481.177-1_amd64.deb
	source = eula_text.html
	source = google-chrome-stable.sh
	sha512sums = cc5d64e1dae45080c42f0667e03d31b086a0fa07e54c70ed43bfae359eab4f37692fe4d25e28054f78dbab7c42e49958d27d83be76012c3ef96b1e14e271b7bc
	sha512sums = cce2729ea8d8f051ad9795225648c72bacad7eb542b454f0a7085749f6b0b31a6c5b1699d8bbc6adb2f8e67be1be04cafc2ebd31c5dec587e9d6bb1c0b62ae54
	sha512sums = 7ee5eae650ab3650276de173d051039a6952afd8b041a3fc85784493e02a1e4e7deed7cffc1bb7f6d5a385d41848b7ec55e4997cc323f67ed0da4ce393bffff5

pkgname = google-chrome
pkgbase = google-chrome
	pkgdesc = A web browser by Google, stable)
	pkgver = 110.0.5481.177
	pkgrel = 1
	url = https://www.google.com/chrome
	install = google-chrome.install
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = ttf-liberation
	depends = xdg-utils
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: for file dialogs in KDE
	optdepends = gnome-keyring: for storing passwords in GNOME keyring
	optdepends = kwallet: for storing passwords in KWallet
	options = !emptydirs
	options = !strip
	source = https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_110.0.5481.177-1_amd64.deb
	source = eula_text.html
	source = google-chrome-stable.sh
	sha512sums = cc5d64e1dae45080c42f0667e03d31b086a0fa07e54c70ed43bfae359eab4f37692fe4d25e28054f78dbab7c42e49958d27d83be76012c3ef96b1e14e271b7bc
	sha512sums = ad426c19b1d97e112e9e956243f287a8fb16c5a5c53a34ad753f77d88167a46c277979d5f2d4d52b4de0d74d72cc39186130762d8847cb48b861d43e5c05ae04
	sha512sums = 6ea97a290b71acf0966834b5776bedf9a2d3165a07833d2679b6a9513ee4149b42f95f4ff5ca9c06db8b215bab340803e22451c4482ee9453b325fcb30987fc4

pkgname = google-chrome
