pkgbase = google-chrome
	pkgdesc = A web browser by Google, stable)
	pkgver = 105.0.5195.52
	pkgrel = 1
	url = https://www.google.com/chrome
	install = google-chrome.install
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = ttf-liberation
	depends = xdg-utils
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: for file dialogs in KDE
	optdepends = gnome-keyring: for storing passwords in GNOME keyring
	optdepends = kwallet: for storing passwords in KWallet
	options = !emptydirs
	options = !strip
	source = https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_105.0.5195.52-1_amd64.deb
	source = eula_text.html
	source = google-chrome-stable.sh
	sha512sums = 6ae52004f53aa93262b16eb3585cbd664e7c9fd9b97381204181732d9b9c7d874430658e48e33ecd21c90da51332ac5d9ce35302bdc8ca8554a349313944c222
	sha512sums = c733a940fd26329f5b68a55f7470eef1e0ea25e7d87e238082c397370cbfd5fe585b385c51d33f76fb60b702f1a0f4badfe49dfc72b9ef60dd4459b7c858e516
	sha512sums = 05183afeb38436b76c577b6dca03b4b7a357e7de890c076ce0110e0a126436887872935e266b07385f71e39879a350b87fe86cccadd70e298c78ae22b2088aca

pkgname = google-chrome
